.accordion {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60dvw;
  padding-block: 20px;

  .accordion__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .accordion__trigger {
      cursor: pointer;
      background: royalblue;
      padding: 10px;
      border-radius: 10px;
      color: white;
      font-size: 18px;
      width: 100%;
    }

    .accordion__content {
      border: 2px solid #41484b;
      border-radius: 20px;
      padding: 20px;
      font-size: 16px;
      color: #eee;
      display: none;
      overflow-y: auto;
      width: 100%;
    }

    .accordion__content.active {
      display: block;
    }
  }
}
